$font-family-sans-serif: 'Source Sans Variable', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$text-muted: rgb(128, 149, 168);
$body-bg: #f3f3f4;
$grid-gutter-width: 40px;
$breadcrumb-font-size: 14px;
$dark-gray: #c2c2c2;
$body-color: rgb(103, 106, 108);
$primary: #1ab394;
$blue: #1c84c6;
$teal: #20c997;
$cyan: #23c6c8;
$yellow: #f8ac59;
$red: #ED5565;
$info: $cyan;
